<header>
    <i><%= title%></i>
    <div class="logout">退出</div>
    <div class="login" onclick="window.location.href='/'">登陆</div><span>|</span>
</header>
<script>
        $(function(){
            if($.cookie("magid")!=''){
                $(".login").text($.cookie("magid"));
            }else{
                $(".login").text("登陆");
            }
            $(".logout").click(function(){
                $.cookie("magid","",{expirse:2,path:"/"});
                window.location.href='/';
            })
        })
    </script>